@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/*GLOBAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

/*HEADER*/
.header-container {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 40px;
    border-bottom: 1px #000 solid;
}

h1 {
    margin-bottom: 10px;
}

/*MAIN*/
.flex-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

h2 {
    font-size: 30px;
}

#relax {
    color: #A008A0;
}

#dev {
    color: #22D8C3;
}

#css {
    color: #FFE400;
}

#js {
    color: #FF4800;
}

.container {
    text-align: center;
    width: 25%;
}

.link-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

a {
    color: #6C6C6C;
    text-decoration: none;
    display: block;
    padding: 3px;
    font-size: 20px;
}

a:hover {
    font-size: 25px;
    color: #000;
}


















